<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <httpRuntime maxRequestLength="4000" executionTimeout="45" requestValidationMode="2.0"/>

    </system.web>
    
	<appSettings>
        <add key="conexaoBiometria" value="data source=JEAN\SQLEXPRESS;initial catalog=Biometria;password=planobe;user id=sa"/>
		<!--add key="AjusteCartao" value="SANTACASA" /-->
		<add key="AjusteCartao" value="HB"/>
		<!--add key="layout" value="stacasasauderiopreto" /-->
		<add key="layout" value="uninet"/>
		<add key="UrlWebService" value="http://201.63.231.90/sassautorizadorweb/autorizador.asmx"/>
		<add key="Prototipo" value="True"/>
		<add key="SensibilidadeDeVerificacao" value="10"/>
	</appSettings>
</configuration>
